*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff0f0;
    color:#000000;
    line-height:1.6;
}
header{
    background:linear-gradient(135deg,hsl(0, 100%, 52%),#000000);
    color: white;
    padding:1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
    background-color: #ffffff69;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
}